<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <title>страница клуба</title>
</head>
<body>
    

    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header_block">
                    <div class="logo">
                        <a href="#"><img src="img/logo.svg" alt=""></a>
                    </div>
                    <div class="menu_block">
                        <ul>
                            <li><a href="#" class="cool-link">Об ассоциации</a></li>
                            <li><a href="#" class="cool-link">Курсы</a></li>
                            <li><a href="#" class="cool-link">Блог</a></li>
                            <li><a href="#" class="cool-link">Дайджест</a></li>
                            <li><a href="#" class="cool-link">Онлайн-клубы</a></li>
                            <li><a href="#" class="cool-link">Форум</a></li>
                        </ul>
                    </div>
                    <div class="hamburger-menu">
                        <input id="menu__toggle" type="checkbox"/>
                        <label class="menu__btn" for="menu__toggle">
                            <span></span>
                        </label>
                        <ul class="menu__box">
                            <a href="#" class="join">Войти</a>
                            <li><a href="#">Об ассоциации</a></li>
                            <li><a href="#">Курсы</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Дайджест</a></li>
                            <li><a href="#">Онлайн-клубы</a></li>
                            <li><a href="#">Форум</a></li>
                            <div class="social_nets">
                                <a href="#"><img src="img/social.svg" alt=""></a>
                                <a href="#"><img src="img/social1.svg" alt=""></a>
                                <a href="#"><img src="img/social2.svg" alt=""></a>
                            </div>
                            <span>© 2024 Psylancesociaty.ru — ассоциация психологов.</span>
                        </ul>
                    </div>
                    <div class="come_in">
                        <a href="#">Войти</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="bread_crumb">
            <div class="container">
                <ul>
                    <li><a href="#">Главная <span>—</span></a></li>
                    <li><a href="#">Блог <span>—</span></a></li>
                    <li>Влияние социальных сетей на психическое здоровье</li>
                </ul>
            </div>
        </div>
       <div class="club_view">
            <div class="container">
                <div class="title">
                    <h2>Клуб эмоционального интеллекта с Марией Зиновьевой</h2>
                </div>
            </div>
       </div>
       <section class="block_creator">
        <div class="container">
            <div class="group_creator">
                <img src="img/img_creator.svg" alt="" class="creator">
                <div class="block_right">
                    <div class="block_top">
                        <div class="block_name">
                            <span>Автор</span>
                            <h4>Мария Зиновьева</h4>
                        </div>
                        <a href="#">Подробнее</a>
                    </div>
                    <div class="block_psychologist">
                        <p>Психолог</p>
                        <img src="img/tochka.svg" alt="">
                        <p>38 лет</p>
                        <img src="img/tochka.svg" alt="">
                        <p>магистр</p>
                        <img src="img/tochka.svg" alt="">
                        <p>стаж 12 лет</p>
                    </div>
                    <h5>Помогу понять причину тревожного состояния, страхов, панических атак. Помогу наладить пищевое поведение. Помогу найти опору <br> в жизненных ситуациях. Через трудные вопросы будем вместе искать истину, которая прячется внутри вас, исследовать ваши тревоги…</h5>
                </div>
            </div>
            <div class="group_creator mob">
                <div class="block_top">
                    <img src="img/img_creator.svg" alt="" class="creator">
                    <div class="block_name">
                        <span>Автор</span>
                        <h4>Мария Зиновьева</h4>
                    </div>
                </div>
                <div class="block_psychologist">
                    <p>Психолог</p>
                    <img src="img/tochka.svg" alt="">
                    <p>38 лет</p>
                    <img src="img/tochka.svg" alt="">
                    <p>магистр</p>
                    <img src="img/tochka.svg" alt="">
                    <p>стаж 12 лет</p>
                </div>
                <h5>Помогу понять причину тревожного состояния, страхов, панических атак. Помогу наладить пищевое поведение. Помогу найти опору <br> в жизненных ситуациях. Через трудные вопросы будем вместе искать истину, которая прячется внутри вас, исследовать ваши тревоги…</h5>
                <a href="#">Подробнее</a>
            </div>
        </div>
        </section>
       <div class="info_view">
            <div class="container">
                <p><p>Добро пожаловать в клуб эмоционального интеллекта с Марией Ивановой! Наш клуб создан для всех, кто хочет глубже понять свои эмоции и научиться управлять ими, а также улучшить свои межличностные отношения. Мы стремимся создать поддерживающее и открытое пространство, где каждый участник сможет делиться своими переживаниями, получать обратную связь и учиться новому.</p></p>
            </div>
       </div>
       <div class="view_month">
            <div class="container">
                <div class="month_child">
                    <a href="#">Январь</a>
                    <a href="#">Февраль</a>
                    <a href="#">Март</a>
                    <a href="#">Апрель</a>
                    <a href="#">Май</a>
                    <a href="#" class="active">Июнь</a>
                    <a href="#">Июль</a>
                    <a href="#">Август</a>
                    <a href="#">Сентябрь</a>
                    <a href="#">Октябрь</a>
                    <a href="#">Ноябрь</a>
                    <a href="#">Декабрь</a>
                </div>
                <div class="view_indoor">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item">
                                <div class="date">
                                    <p>21 июня, 19:00 - 20:30</p>
                                </div>
                                <div class="inf_ind">
                                    <h4>Встреча «Понимание своих эмоций: Самосознание
                                        и самопринятие»</h4>
                                    <p>На первой встрече нашего клуба мы сосредоточимся
                                        на развитии самосознания и самопринятия. Участники узнают,
                                        как распознавать и идентифицировать свои эмоции,
                                        а также понимать их влияние на повседневную жизнь. Мы обсудим основные эмоциональные триггеры и научимся осознавать свои реакции на них.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item">
                                <div class="date">
                                    <p>21 июня, 19:00 - 20:30</p>
                                </div>
                                <div class="inf_ind">
                                    <h4>Встреча «Понимание своих эмоций: Самосознание
                                        и самопринятие»</h4>
                                    <p>На первой встрече нашего клуба мы сосредоточимся
                                        на развитии самосознания и самопринятия. Участники узнают,
                                        как распознавать и идентифицировать свои эмоции,
                                        а также понимать их влияние на повседневную жизнь. Мы обсудим основные эмоциональные триггеры и научимся осознавать свои реакции на них.</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn_view">
                            <a href="#">Присоединиться</a>
                        </div>
                    </div>
                  
                </div>
            </div>
       </div>
        <footer>
            <div class="container">
                <div class="footer_block">
                    <div class="block_top">
                        <div class="menu_group">
                            <ul>
                                <li><a href="#" class="active">Войти в систему</a></li>
                                <li><a href="#">Об ассоциации</a></li>
                                <li><a href="#">Курсы</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Дайджест</a></li>
                                <li><a href="#">Онлайн-клубы</a></li>
                                <li><a href="#">Форум </a></li>
                            </ul>
                        </div>
                        <div class="menu_group mob">
                            <ul>
                                <li><a href="#" class="active">Войти в систему</a></li>
                            </ul>
                            <div class="group_menu">
                                <ul>
                                    <li><a href="#">Об ассоциации</a></li>
                                    <li><a href="#">Блог</a></li>
                                    <li><a href="#">Онлайн-клубы</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Курсы</a></li>
                                    <li><a href="#">Дайджест</a></li>
                                    <li><a href="#">Форум </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social_nets">
                            <a href="#"><img src="img/social.svg" alt=""></a>
                            <a href="#"><img src="img/social1.svg" alt=""></a>
                            <a href="#"><img src="img/social2.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="block_bottom ">
                        <div class="text_left">
                            <span>Мы используем cookie-файлы, оставаясь на сайте, вы подтверждаете свое согласие на их использование.</span>
                            <span>© 2024 Psylancesociaty.ru — ассоциация психологов.</span>
                        </div>
                        <div class="right_text">
                            <a href="#">Устав ассоциации</a>
                            <a href="#">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>