<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <title>страница статьи</title>
</head>
<body>
    

    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header_block">
                    <div class="logo">
                        <a href="#"><img src="img/logo.svg" alt=""></a>
                    </div>
                    <div class="menu_block">
                        <ul>
                            <li><a href="#" class="cool-link">Об ассоциации</a></li>
                            <li><a href="#" class="cool-link">Курсы</a></li>
                            <li><a href="#" class="cool-link">Блог</a></li>
                            <li><a href="#" class="cool-link">Дайджест</a></li>
                            <li><a href="#" class="cool-link">Онлайн-клубы</a></li>
                            <li><a href="#" class="cool-link">Форум</a></li>
                        </ul>
                    </div>
                    <div class="hamburger-menu">
                        <input id="menu__toggle" type="checkbox"/>
                        <label class="menu__btn" for="menu__toggle">
                            <span></span>
                        </label>
                        <ul class="menu__box">
                            <a href="#" class="join">Войти</a>
                            <li><a href="#">Об ассоциации</a></li>
                            <li><a href="#">Курсы</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Дайджест</a></li>
                            <li><a href="#">Онлайн-клубы</a></li>
                            <li><a href="#">Форум</a></li>
                            <div class="social_nets">
                                <a href="#"><img src="img/social.svg" alt=""></a>
                                <a href="#"><img src="img/social1.svg" alt=""></a>
                                <a href="#"><img src="img/social2.svg" alt=""></a>
                            </div>
                            <span>© 2024 Psylancesociaty.ru — ассоциация психологов.</span>
                        </ul>
                    </div>
                    <div class="come_in">
                        <a href="#">Войти</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="bread_crumb">
            <div class="container">
                <ul>
                    <li><a href="#">Главная <span>—</span></a></li>
                    <li><a href="#">Блог <span>—</span></a></li>
                    <li>Влияние социальных сетей на психическое здоровье</li>
                </ul>
            </div>
        </div>
        <section class="block_about_phychologist">
            <div class="container">
                <div class="about_block">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="block_img">
                                <h2 class="name_phy">Мария Зиновьева</h2>
                                <img src="img/img_phy.png" alt="">
                                <a href="#">Договориться о встрече</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="block_right">
                                <div class="block_name">
                                    <h2>Мария Зиновьева</h2>
                                    <a href="#">Рекомендуем<img src="img/great.svg" alt=""></a>
                                </div>
                                <div class="block_psychologist">
                                    <p>Психолог</p>
                                    <img src="img/tochka.svg" alt="">
                                    <p>38 лет</p>
                                    <img src="img/tochka.svg" alt="">
                                    <p>магистр</p>
                                    <img src="img/tochka.svg" alt="">
                                    <p>стаж 12 лет</p>
                                </div>
                                <div class="span_block">
                                    <div class="group_sen">
                                        <span>Стоимость онлайн:</span>
                                        <div class="about_sen">
                                            <h4>1000</h4>
                                            <img src="img/sms.svg" alt="">
                                            <h5>/≈ 50 мин</h5>
                                        </div>
                                    </div>
                                    <div class="group_sen">
                                        <span>Стоимость личного приема:</span>
                                        <div class="about_sen">
                                            <h4>900</h4>
                                            <img src="img/sms.svg" alt="">
                                            <h5>/≈ 50 мин</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="block_clock">
                                    <img src="img/clock.svg" alt="">
                                    <span>Первая 20-минутная консультация бесплатно</span>
                                </div>
                                <p><span>Санкт-Петербург,</span> м. Петроградская, ул. Лахтинская, д. 4.</p>
                                <p><span>Формат работы:</span> аудио, видео, чат</p>
                                <p><span>Язык общения:</span> русский</p>
                                <p>Рейтинг специалиста: <span>4.93 / 5</span></p>
                                <p>На сайте <span>15</span> отзывов</p>
                                <a href="#" class="make_ap">Договориться о встрече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about_me_block">
            <div class="container">
                <div class="about_text">
                    <div class="left_text">
                        <h3>Коротко о себе:</h3>
                        <p>Помогу понять причину тревожного состояния, страхов, <br> панических атак. Помогу наладить пищевое поведение. <br> Помогу найти опору в жизненных ситуациях. Через трудные <br> вопросы будем вместе искать истину, которая прячется внутри <br> вас, исследовать ваши тревоги.</p>
                    </div>
                    <a href="#"><img src="img/img_women.png" alt=""></a>
                </div>
            </div>
        </section>
        <section class="tabs_group1">
            <div class="container">
                <div class="block_tabs">
                    <a href="#">Все</a>
                    <a href="#">Высокий рейтинг</a>
                    <a href="#">Низкая цена</a>
                    <a href="#">Бесплатно</a>
                </div>
            </div>
        </section>
        <section class="commends_spess">
            <div class="container">
                <div class="block_cpmmend">
                    <div class="title_block">
                        <h2>Отзывы <span>клиентов</span></h2>
                    </div>
                    <div class="items">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="item">
                                    <div class="block_top">
                                        <div class="block_left_about_women">
                                            <img src="img/women1.svg" alt="" class="women">
                                            <div class="block_commends_womens">
                                                <span>Отзыв о психологе</span>
                                                <h3>Мария Зиновьева</h3>
                                                <div class="bottom_right_block">
                                                    <img src="img/icon_right.svg" alt="">
                                                    <h5><span>5 000</span> /≈ 50  </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="stars_block">
                                            <p>Отлично</p>
                                            <div class="stars">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_center">
                                        <p>Рекомендую, нашла здесь отличного психолога. Удобно, что при выборе специалиста можно узнать его квалификацию и опыт работы, а также прочитать отзывы других клиентов.</p>
                                    </div>
                                    <div class="block_bottom">
                                        <span>25.01.2024</span>
                                        <h6><img src="img/checked.svg" alt="">Прием подтвержден</h6>
                                        <h6>Подробнее о специалисте</h6>
                                    </div>
                                </div>
                                <div class="item mob">
                                    <div class="block_top">
                                        <div class="block_left_about_women">
                                            <img src="img/women1.svg" alt="" class="women">
                                            <div class="block_commends_womens">
                                                <span>Отзыв о психологе</span>
                                                <h3>Мария Зиновьева</h3>
                                                <div class="bottom_right_block">
                                                    <img src="img/icon_right.svg" alt="">
                                                    <h5><span>5 000</span> /≈ 50  </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_center">
                                        <p>Рекомендую, нашла здесь отличного психолога. Удобно, что при выборе специалиста можно узнать его квалификацию и опыт работы, а также прочитать отзывы других клиентов.</p>
                                    </div>
                                    <div class="block_bottom">
                                        <span>25.01.2024</span>
                                        <h6><img src="img/checked.svg" alt="">Прием подтвержден</h6>
                                    </div>
                                    <div class="stars_block">
                                        <p>Отлично</p>
                                        <div class="stars">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="#">Подробнее о специалисте</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="item">
                                    <div class="block_top">
                                        <div class="block_left_about_women">
                                            <img src="img/women1.svg" alt="" class="women">
                                            <div class="block_commends_womens">
                                                <span>Отзыв о психологе</span>
                                                <h3>Мария Зиновьева</h3>
                                                <div class="bottom_right_block">
                                                    <img src="img/icon_right.svg" alt="">
                                                    <h5><span>5 000</span> /≈ 50  </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="stars_block">
                                            <p>Отлично</p>
                                            <div class="stars">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                                <img src="img/star.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_center">
                                        <p>Рекомендую, нашла здесь отличного психолога. Удобно, что при выборе специалиста можно узнать его квалификацию и опыт работы, а также прочитать отзывы других клиентов.</p>
                                    </div>
                                    <div class="block_bottom">
                                        <span>25.01.2024</span>
                                        <h6><img src="img/checked.svg" alt="">Прием подтвержден</h6>
                                        <a href="#">Подробнее о специалисте</a>
                                    </div>
                                </div>
                                <div class="item mob">
                                    <div class="block_top">
                                        <div class="block_left_about_women">
                                            <img src="img/women1.svg" alt="" class="women">
                                            <div class="block_commends_womens">
                                                <span>Отзыв о психологе</span>
                                                <h3>Мария Зиновьева</h3>
                                                <div class="bottom_right_block">
                                                    <img src="img/icon_right.svg" alt="">
                                                    <h5><span>5 000</span> /≈ 50  </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text_center">
                                        <p>Рекомендую, нашла здесь отличного психолога. Удобно, что при выборе специалиста можно узнать его квалификацию и опыт работы, а также прочитать отзывы других клиентов.</p>
                                    </div>
                                    <div class="block_bottom">
                                        <span>25.01.2024</span>
                                        <h6><img src="img/checked.svg" alt="">Прием подтвержден</h6>
                                    </div>
                                    <div class="stars_block">
                                        <p>Отлично</p>
                                        <div class="stars">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                            <img src="img/star.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="#">Подробнее о специалисте</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="specialist_articless">
            <div class="container">
                <div class="articless">
                    <div class="title_block">
                        <h2><span>Статьи</span> специалиста</h2>
                    </div>
                    <div class="block_items">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="item">
                                    <img src="img/dayjest3.png" alt="" class="img_st">
                                    <div class="block_text">
                                        <span>28 февраля</span>
                                        <h3>Разрыв отношений с родителями — выход?</h3>
                                        <div class="block_blog">
                                            <div class="blog_information">
                                                <img src="img/img_bl.svg" alt="">
                                                <p>18</p>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl1.svg" alt="">
                                                <p>5 минут</p>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl2.svg" alt="">
                                                <p>Мария Зиновьева</p>
                                            </div>
                                        </div>
                                        <div class="block_blog mob">
                                            <div class="group_inf">
                                                <div class="blog_information">
                                                    <img src="img/img_bl.svg" alt="">
                                                    <p>18</p>
                                                </div>
                                                <div class="blog_information">
                                                    <img src="img/img_bl1.svg" alt="">
                                                    <p>5 минут</p>
                                                </div>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl2.svg" alt="">
                                                <p>Мария Зиновьева</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="item">
                                    <img src="img/dayjest4.png" alt="" class="img_st">
                                    <div class="block_text">
                                        <span>14 февраля</span>
                                        <h3>Психоаналитический взгляд на панические атаки</h3>
                                        <div class="block_blog">
                                            <div class="blog_information">
                                                <img src="img/img_bl.svg" alt="">
                                                <p>128</p>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl1.svg" alt="">
                                                <p>5 минут</p>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl2.svg" alt="">
                                                <p>Мария Зиновьева</p>
                                            </div>
                                        </div>
                                        <div class="block_blog mob">
                                            <div class="group_inf">
                                                <div class="blog_information">
                                                    <img src="img/img_bl.svg" alt="">
                                                    <p>18</p>
                                                </div>
                                                <div class="blog_information">
                                                    <img src="img/img_bl1.svg" alt="">
                                                    <p>5 минут</p>
                                                </div>
                                            </div>
                                            <div class="blog_information">
                                                <img src="img/img_bl2.svg" alt="">
                                                <p>Мария Зиновьева</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="footer_block">
                    <div class="block_top">
                        <div class="menu_group">
                            <ul>
                                <li><a href="#" class="active">Войти в систему</a></li>
                                <li><a href="#">Об ассоциации</a></li>
                                <li><a href="#">Курсы</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Дайджест</a></li>
                                <li><a href="#">Онлайн-клубы</a></li>
                                <li><a href="#">Форум </a></li>
                            </ul>
                        </div>
                        <div class="menu_group mob">
                            <ul>
                                <li><a href="#" class="active">Войти в систему</a></li>
                            </ul>
                            <div class="group_menu">
                                <ul>
                                    <li><a href="#">Об ассоциации</a></li>
                                    <li><a href="#">Блог</a></li>
                                    <li><a href="#">Онлайн-клубы</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Курсы</a></li>
                                    <li><a href="#">Дайджест</a></li>
                                    <li><a href="#">Форум </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social_nets">
                            <a href="#"><img src="img/social.svg" alt=""></a>
                            <a href="#"><img src="img/social1.svg" alt=""></a>
                            <a href="#"><img src="img/social2.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="block_bottom ">
                        <div class="text_left">
                            <span>Мы используем cookie-файлы, оставаясь на сайте, вы подтверждаете свое согласие на их использование.</span>
                            <span>© 2024 Psylancesociaty.ru — ассоциация психологов.</span>
                        </div>
                        <div class="right_text">
                            <a href="#">Устав ассоциации</a>
                            <a href="#">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>